- page_title("Разблокировать учетную запись")

.panel-heading.auth-title
  Разблокировать учетную запись
.panel-body
  = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), html: {class: 'form-horizontal', role: 'form', :method => :post}) do |f|
    = devise_error_messages!

    .form-group
      .col-sm-12
        = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email'

    .form-group
      .col-sm-12.text-right
        %button.btn.btn-primary
          Получить инструкцию по восстановлению доступа


.panel-footer
  = render "devise/shared/links"
