%ul.nav.navbar-nav
  - if current_user
    %li
      %a{:href => counters_path}
        Счетчики
        %span.sr-only (current)
    %li
      %a{:href => meterings_path}
        Показания
    %li
      %a{:href => users_path}
        Пользователи





