%ul.nav.navbar-nav
  - if current_user
    %li
      %a{:href => villages_path}
        Организации
    %li
      %a{:href => groups_path}
        Группы
    %li
      %a{:href => roles_path}
        Роли
    %li
      %a{:href => users_path}
        Пользователи





