.row
  .col-sm-12
    - if @items.any?
      %table.table.table-stripped.table-hover
        %thead
          %tr
            %th #
            %th.col-sm-4 Название
            %th.col-sm-4 Тип
            %th.col-sm-4 Владелец
        %tbody
          - @items.each_with_index do |item, index|
            %tr
              %td= index+1
              %td= link_to item.title, edit_village_property_path(@village.id, item.id)
              %td= item.ptype
              %td
                - if item.user
                  = item.user.title

    - else
      %p Нет объектов