= render "villages/tabs"

.row
  .col-md-10.col-lg-10.col-xs-7
    %h3 Объекты
  .col-sm-2.pull-right.top20
    = link_to "Создать", new_village_property_path(@village.id), class: "btn btn-primary btn-sm"

= render 'table'

