%ul.nav.navbar-nav
  - if current_user.present?
    - if current_user.village.present?
      %li
        %a{ :href => users_village_path(current_user.village) }
          Жители
    %li.dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        Отчеты
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => monthly_counters_reports_path} Показания счетчиков




