.row
  .col-md-10.col-lg-10.col-xs-7
    %h3 Счетчики
  .col-sm-2.pull-right.top20
    = link_to "Создать", new_counter_path, class: "btn btn-primary btn-sm"
.row
  .col-sm-12
    - if @items.any?
      %table.table.table-stripped.table-hover
        %thead
          %tr
            %th #
            %th.col-sm-4 Название
            %th.col-sm-4 Код
        %tbody
          - @items.each_with_index do |item, index|
            %tr
              %td= index+1
              %td= link_to item.title, counter_path(item.id)
              %td= item.code

    - else
      %p Нет счетчиков

