%ul.breadcrumb
  %li= link_to 'Счетчики', counters_path
  %li= link_to @item.counter.title, tariffs_counter_path(@item.counter)
  %li Добавить тариф

%h3 Добавить тариф
%br
= render partial: 'form', locals: {form_action: tariffs_path(@item)}