%ul.nav.nav-tabs.offset-top-20
  = tab "Общая", edit_village_path(@village)
  = tab "Жители", users_village_path(@village)
  = tab "Объекты", village_properties_path(@village)
  = tab "Счетчики", village_counters_path(@village)