/[if lt IE 8]
  .alert.alert-danger
    .p
      Вы используете браузер Internet Explorer версии 7 или ниже<br><br>

      К сожалению, ваш браузер не поддерживает некоторые современные технологии, которые используются в системе.
      В связи с чем, вам не доступен полный функционал,
      а отображение некоторых элементов может быть неправильным и сильно искажать внешний вид и поведение.<br><br>
      Обновите ваш браузер или обратитесь в отдел техподдержки компании