%ul.breadcrumb
  - if current_user.is?(:manager, :administrator) && @user.village
    %li= link_to 'Пользователи', users_village_path(@user.village)
  %li= link_to 'Показания', user_meterings_path(@user, counter_id: @counter.id)
  %li= @item.date