%ul.breadcrumb
  - if current_user.is?(:manager, :administrator) && @village
    %li= link_to 'Объекты', village_properties_path(@village)
  %li= link_to 'Показания', village_property_meterings_path(@village, @property, counter_id: @counter.id)
  %li= @item.date