- if current_user.is?(:manager, :administrator) && @village
  %ul.breadcrumb
    %li= link_to 'Объекты', village_properties_path(@village)
    %li= link_to @property.title, edit_village_property_path(@village, @property)

= render partial: 'table'

= render partial: 'charts'