- if current_user.is?(:manager, :administrator) && @user.village
  %ul.breadcrumb
    %li= link_to 'Пользователи', users_village_path(@user.village)

.row
  .col-md-12
    %h3 Показания

= render partial: 'table'

= render partial: 'charts'