- if current_user.is?(:manager, :administrator) && @user.village
  %ul.breadcrumb
    %li= link_to 'Пользователи', users_village_path(@user.village)
    %li= link_to @user.title, edit_user_path(@user)

= render partial: 'table'

= render partial: 'charts'