- if current_user.properties.any?
  - current_user.properties.each do |property|
    - waiting_counters = ::Helpers::Counter.waiting_counters(property)
    - if waiting_counters
      = render partial: 'static_pages/settler/send_counters_form', locals: {waiting_counters: waiting_counters, property: property}

