<p>Здравствуйте! <%= @resource.email %>!</p>

<p>Вы запросили восстановление пароля. Чтобы сменитьпароль, перейдите по ссылке представленной ниже: </p>

<p><%= link_to 'Сменить пароль', edit_user_password_url(:reset_password_token => @token) %></p>

<p>	Если вы считаете, что данное сообщение отправлено вам ошибочно, просто проигнорируйте его.</p>
