%p
  Привет #{@resource.email}!
%p Ваша учетноя запись была заблокированна в связи с превышенем лимита неудачых попыток авторизации.
%p Для активации учетной записи необходимо перейти по ссылке:
%p= link_to 'Разблокировать учетную запись', unlock_url(@resource, :unlock_token => @token)
